.header {
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  .bg {
    img {
      position: absolute;
      height: clamp(100%, calc(100% + (10vw)), 220%);
      top: calc(0px - (1vw));
      right: calc(0px + (2vw));
      z-index: -1;
    }
  }
  .content {
    z-index: 10;
    width: 95%;
    max-width: 1170px;
    margin: auto;
    height: 200px;

    .body {
      .title {
        margin: 0.5em 0;
        margin-top: 1em;
      }
      line-height: 23px;
      .paragraph {
        display: flex;
        align-items: center;
        padding: 0.25em 0;
        .call {
          color: $P2;
          margin: 0 0.25em;
        }
      }
    }
  }
  .search-bar {
    margin-top: 0.5em;
    width: 100%;
    background-color: white;
    height: 58px;
    border-radius: 25px;
    box-shadow: $N3 0px 0px 10px;
    display: grid;
    grid-auto-flow: column;

    .search-tab {
      .content {
        display: flex;
        align-items: center;
        height: 100%;
        color: $B1;
      }
    }
  }
}
