.dlayout-main-content {
  min-height: calc(100vh - #{$NH0} - #{$FH0});
}
.hlayout-main-content {
  min-height: calc(100vh - #{$NH0} - #{$HH0} - #{$FH0});
}
.doclayout-main-content {
  margin: 2em auto;
  display: flex;
  width: 95%;
  max-width: 1170px;
  padding: 1em;
  background-color: $N0;
}
