.about {
  margin: 2em auto;
  display: flex;
  width: 95%;
  max-width: 1170px;
  .content {
    .title {
      color: $B1;
      margin-bottom: 0.5em;
    }
    margin: 0;
    width: 75%;
    padding: 0 1em;
    .paragraph {
      word-spacing: 2.3px;
      font-size: 16px !important;
      line-height: normal;
      margin-bottom: 1em;
    }
  }

  .side {
    width: clamp(200px, 25%, 300px);

    .about-sidebar {
      margin: 0 auto;
      background-color: $N1;
      width: 90%;
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      max-height: max-content;
      gap: 1px;
      a {
        color: $N4;

        text-decoration: none;
        .option {
          font-size: 14px;
          background-color: $N0;
          padding-left: 1em;
          line-height: 35px;
          display: flex;
          align-items: center;
          span {
            margin-right: 0.5em;
          }
          &:hover {
            background-color: $N1;
          }
        }
        .active {
          background-color: $B1;
          color: $N0;
          &:hover {
            background-color: $B1;
          }
        }
      }
    }
  }

  .our-team {
    .team-member {
      display: flex;
      margin-bottom: 1em;
      .photo {
        height: 300px;
        overflow: hidden;
        img {
          width: 200px;
        }
      }
    }
  }
}

@media (max-width: $BP0) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 1em;
    .content {
      margin: 0 auto;
      width: 95%;
      padding: 0 1em;
      .paragraph {
        word-spacing: 2.3px;
        font-size: 16px !important;
        line-height: normal;
        margin-bottom: 1em;
      }
      .team-member {
        display: inline-block;
        .photo {
          img {
            margin-right: 20px;
            width: 150px;
            float: left;
          }
        }
      }
    }
    .side {
      width: 100%;
      margin: 0 auto;
    }
  }
}
