.home {
  .body {
    .corona-wrapper {
      background-color: $N0;
      .corona {
        margin: 0 auto;
        padding: 1em 0;
        display: flex;
        width: 95%;
        max-width: 1170px;
        align-items: center;
        .img {
          img {
            height: 75px;
          }
        }
        .content {
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: $BP0) {
  .home {
  }
}
