.search-wrapper {
  margin: 2em auto;
  display: flex;
  width: 95%;
  max-width: 1170px;
  .search {
    width: 100%;
    .result {
      border-radius: 15px 15px 0 0;
      background-color: $N0;
      padding: 1em;
      margin: 1em;
      display: flex;
      justify-content: space-between;
      box-shadow: rgb(204, 204, 204) 0px 2px 10px;
      .search-bookings {
        p {
          margin: 1em 0;
        }
        text-align: center;
      }
      .profile {
        display: flex;

        .name {
          color: $B1;
          text-transform: uppercase;
          font-size: larger;
          margin-bottom: 0.5em;
        }
        .pic-wrapper {
          width: 150px;
          height: 150px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
          }
          margin: 1em;
        }
        .label {
          display: flex;
          align-items: center;
          margin: 0.5em;

          .icon {
            color: $B1;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}

@media (max-width: $BP0) {
  .search-wrapper {
    .search {
      .result {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
